body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #274e13;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

#intro {
    padding: 20px;
    margin: 0 10%;
    background: #ffffff;
    border-radius: 15px;
    border-bottom: 2px solid #eeeeee;
}

#actions {
    text-align: center;
    padding: 20px;
}
#information {
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    margin: 10px 10%;
    padding: 10px;
    display: block;
    justify-content: center; 
    align-items: center;  
}
#information h2 {
    display: block; /* 確保 h2 是塊級元素，不會與其他元素並列 */
    width: 100%;    /* 確保占滿整行 */
    margin-bottom: 20px; /* 添加一些底部邊距，確保與下方元素的間隔 */
}

#author {
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    margin: 10px 10%;
    display: block;
    justify-content: center; 
    align-items: center;  
}
/* .video-container {
    position: relative;
    width: 100%;
    padding-top: 25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 50%;
    width: 95%; 
    height: 100%;
    transform: translateX(-50%); 
} */


button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #274e13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4b862e;
}

footer {
    background-color: #274e13;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
}

.footer-content {
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0px;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline;
    margin-right: 20px;
}

.socials a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-bottom {
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #274e13;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #4b862e;
}